

  <form [formGroup]="registrationFormGroup" (ngSubmit)="send()">
    <mat-form-field>
        <mat-label>firstName:</mat-label>
        <input matInput type="text" formControlName="firstName" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>lastName:</mat-label>
        <input matInput type="text" formControlName="lastName" required>
    </mat-form-field>
    <mat-form-field>
        <mat-label>email:</mat-label>
        <input matInput type="email" formControlName="email" required>
        <mat-error *ngIf="registrationFormGroup.dirty || registrationFormGroup.touched" id=”emailErrorMessage”>
            The email address is invalid
        </mat-error>
        <!-- <mat-error *ngIf="registrationFormGroup.invalid" id=”emailErrorMessage”>
            Please enter the email address
        </mat-error> -->
    </mat-form-field>
    <mat-form-field formGroupName="origin">
        <mat-label>originSelect:</mat-label>
        <mat-select formControlName="originSelect" (selectionChange)="onSelectionChange($event)" required>
          <mat-option *ngFor="let option of origins | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field formGroupName="origin" *ngIf="show">
        <mat-label>originOther:</mat-label>
        <input matInput type="text" formControlName="originOther">
    </mat-form-field>
    <mat-form-field class="example-chip-list" id="topicsFormField" formGroupName="origin">
        <mat-label>Favorite topics</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter topics" formControlName="topics" required>
          <mat-chip-row *ngFor="let topic of topics"
                        (removed)="remove(topic)"
                        [editable]="true"
                        (edited)="edit(topic, $event)"
                        [aria-description]="'press enter to edit ' + topic.name">
            {{topic.name}}
            <button matChipRemove [attr.aria-label]="'remove ' + topic.name">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input 
                placeholder="New..."
                 [matChipInputFor]="chipGrid"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)"/>
        </mat-chip-grid>
      </mat-form-field>
      
    <button mat-raised-button color="primary" type="submit" [disabled]="registrationFormGroup.invalid">Register</button>

</form>
